<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper">
                <span class="title">@Html.ActionLink("Son of Cod", "Index", "Home")</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                   <li>@Html.ActionLink("Join Newsletter", "Create", "MailingList")</li>
                     
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Newsletter", "Create", "Newsletter")</li>
                        
                        <li>@Html.ActionLink(User.Identity.Name, "Index", "Account")</li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <input type="submit" id="logout" value="Logout" class="waves-effect waves-light btn"/>

                            }
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
