<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper">
                <a>@Html.ActionLink("Son of Cod", "Index", "Home")</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                   <li>@Html.ActionLink("Register for our Newsletter", "Create", "Newsletter"</li>
                     
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Newletter", "Create", "Account")</li>
                        <li>@Html.ActionLink(User.Identity.Name, "Index", "Posts")</li>
                        
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                            <li><input type="submit" id="logout" value="Logout" /></li>
                        }

                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register")</li>
                        <li>@Html.ActionLink("Login", "Login")</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
