
@{
    ViewData["Title"] = "News Letter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.Models.Newsletter

<h2>New Post</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Body)
    @Html.EditorFor(model => model.Body)

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)

    <input type="submit" value="Create" class="btn btn-default" />
}
@Html.ActionLink("Back to index", "Index")